<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 challenge-containers">
      Challenge Description
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 challenge-containers">
      SAMPLE TEST
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-danger hint-btn col-md-3" ng-click="#">Hint</button>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <label>Code Editor</label>
        <textarea class="form-control" id="code-editor" rows="10"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-success hint-btn col-md-5" ng-click="#">Run</button>
    <button type="button" class="btn btn-success hint-btn col-md-5" ng-click="#">Submit</button>
  </div>

</div>
