<div class="container-fluid">
  <div class="row">
    <button type="button" class="btn challenge-menu-btn col-md-3 justify-content-center" ng-click="#">Beginner</button>
    <button type="button" class="btn challenge-menu-btn col-md-3 justify-content-center" ng-click="#">Intermediate</button>
    <button type="button" class="btn challenge-menu-btn col-md-3 justify-content-center" ng-click="#">Master</button>
  </div>
  <div class="row">
    <div class="col-md-12 challenge-list-container">
      NG REPEAT EASY CHALLENGES
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 challenge-list-container">

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 challenge-list-container">

    </div>
  </div>

</div>
