<div class="container-fluid">
  <div class="row">
    <button type="button" class="btn challenge-menu-btn col-md-3 justify-content-center" ng-click="doSomething()">Beginner</button>
    <button type="button" class="btn challenge-menu-btn col-md-3 justify-content-center" ng-click="doSomething()">Intermediate</button>
    <button type="button" class="btn challenge-menu-btn col-md-3 justify-content-center" ng-click="doSomething()">Master</button>
  </div>
  <div class="row">
    <div class="col-md-12 challenge-list-container" ng-repeat="challenge in challenges.beginner">
    <h2 ui-sref="challenge({id:challenge.id})">{{challenge.name}}</h2>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 challenge-list-container">

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 challenge-list-container">

    </div>
  </div>

</div>
