<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 challenge-containers">
      {{challenge.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 challenge-containers">
      SAMPLE TEST
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-danger hint-btn col-md-3" ng-click="doSomething()">Hint</button>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <label>Code Editor</label>
        <textarea class="form-control" id="code-editor" rows="10"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-success hint-btn col-md-5" ng-click="doSomething()">Run</button>
    <button type="button" class="btn btn-success hint-btn col-md-5" ng-click="doSomething()">Submit</button>
  </div>

</div>
