<div class="container-fluid">
  <div class="row">
    <label>Challenge</label>
    <div class="col-md-10 challenge-containers">
      {{challenge.description}}
    </div>
  </div>
  <div class="row">
    <label>Sample Test Cases</label>
    <div class="col-md-10 challenge-containers">
      SAMPLE TEST
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-danger hint-btn col-md-3" ng-click="doSomething()">Hint</button>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <label>Code Editor</label>
        <textarea class="form-control" id="code-editor" rows="10" ng-model="code.code"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-success hint-btn col-md-5" ng-click="testCode(code)">Run</button>
  </div>
  <div class="row challenge-containers" >
    <div class="col-md-10" ng-repeat="test in tests">
      {{test.result}}
    </div>
    {{test.result}}
    <!-- Make Pretty, possbily change text to green when passed, red when failed -->
  </div>

</div>
