<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-left">
      <ul class="nav navbar-nav" id="social-icons">
        <li><a href="https://github.com/dadleatherwood"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="http://www.twitter.com/dadleatherwood"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="navbar-right">
      <ul class="hidden-xs nav navbar-nav" id="developed-by">
        <li><a href="https://github.com/dadleatherwood">Developed By: Jacob Leatherwood <span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
  </div>
</nav>
