<div class="jumbotron leaderboard-jumbotron">
  <div class="intro-container">
    <h1>Leaderboard</h1>
    <p>
      Take a look below to find out how you compare to your coding peers.
    </p>
  </div>
</div>

<div class="row leaderboard">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 leader-container" ng-repeat="user in users">
      <div>
        <img src="{{user.imageurl}}" class="profile-image" />
      </div>
      <div>
        <h4>{{user.username}}</h4>
      </div>
      <div>
        <h4>Score: {{user.score}}</h4>
      </div>

    </div>
  </div>
</div>
