<div class="jumbotron">
  <div class="intro-container">
    <h1>Leaderboard</h1>
    <p>
      Take a look below to find out how you compare to your coding peers.
    </p>
  </div>
</div>

<div class="jumbotron leaderboard-jumbotron">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 leader-container" ng-repeat="user in users">
      <div>
        {{user.imageurl}}
      </div>
      <div>
        <h3>{{user.username}}</h3>
      </div>
      <div>
        <h3>{{user.score}}</h3>
      </div>

    </div>
  </div>
</div>
