<div class="modal fade" tabindex="-1" role="dialog"id="challengeModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div ng-class="modal.type" class="modal-header challenge-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{modal.heading}}</h4>
      </div>
      <div class="modal-body">
        <ul ng-repeat="failure in failures track by $index">
          <li id="test-result">{{failure}}</li>
        </ul>
        <p>{{modal.message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-class="modal.type" class="btn btn-success challenge-btn" data-dismiss="modal">Close</button>
        <!-- <button type="button" ng-class="modal.type" class="btn btn-success challenge-btn" data-dismiss="modal">Next Challenge</button>
        <button type="button" ng-class="modal.type" class="btn btn-success challenge-btn" data-dismiss="modal">Try Again</button> -->
      </div>
    </div>
  </div>
</div>
