<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="conatiner-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">this.Code()</a>
    </div>
    <div class="navbar navbar-nav navbar-right collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <button ui-sref="#" type="button" class="btn btn-success navbar-btn">Sign Up</button>
        </li>
        <li>
          <button ui-sref="#" type="button" class="btn btn-success navbar-btn">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
