<div class="container-fluid login-page">
  <div class="profile-row">
    <div class="col-md-offset-1 col-md-5 col-lg-offset-2 col-lg-5 profile-login-forms">
      <div class="panel panel-success">
        <div class="panel-heading">Sign Up</div>
        <div class="panel-body">
          <form>
            <input type="text" class="form-control" ng-model="user.first_name" placeholder="First Name" />
            <input type="text" class="form-control" ng-model="user.last_name" placeholder="Last Name" />
            <input type="text" class="form-control" ng-model="user.username" placeholder="Username" />
            <input type="text" class="form-control" ng-model="user.email" placeholder="Email" />
            <input type="password" class="form-control" ng-model="user.password" placeholder="Password" />
            <input type="password" class="form-control" ng-model="user.confirmPassword" placeholder="Confirm Password" />
            <button type="button" class="btn" id="profile-login-btn" ng-disabled="checkInputs()" ng-click="createUser(user)">Sign Up</button>
            <div class="profile-login-error">{{createError}}</div>
            <!-- button needs to change 'loggedIn' when successful as well -->
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-lg-5 profile-login-forms">
      <div class="panel panel-success">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
          <form>
            <input type="text" class="form-control" ng-model="returningUser.username" placeholder="Username or Email" />
            <input type="password" class="form-control" ng-model="returningUser.password" placeholder="Password" />
            <button type="button" class="btn" id="profile-login-btn" ng-click="loginUser(returningUser)">Login</button>
            <div class="profile-login-error">{{loginError}}</div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
