<div class="container-fluid">
  <div class="container-fluid sign-up panel panel-info">
    <div class="panel-heading">this.Code ( ) Sign Up</div>
    <div class="panel-body">
      <form>
        <input type="text" class="form-control" ng-model="#" placeholder="First Name" />
        <input type="text" class="form-control" ng-model="#" placeholder="Last Name" />
        <input type="text" class="form-control" ng-model="#" placeholder="Username" />
        <input type="text" class="form-control" ng-model="#" placeholder="Email" />
        <input type="password" class="form-control" ng-model="#" placeholder="Password" />
        <input type="password" class="form-control" placeholder="Confirm Password" />
        <button ui-sref="challenge-splash" type="button" class="btn btn-info" id="sign-up-btn">Sign Up</button>
      </form>

    </div>
  </div>
  <div class="container-fluid login panel panel-info">
    <div class="panel-heading">this.Code ( ) Login</div>
    <div class="panel-body">
      <form>
        <input type="text" class="form-control" ng-model="#" placeholder="Username or Email" />
        <input type="password" class="form-control" ng-model="#" placeholder="Password" />
        <button ui-sref="challenge-splash" type="button" class="btn btn-info" id="login-btn">Login</button>
      </form>

    </div>
  </div>
</div>
