
  <div class="jumbotron main-splash">
    <div class="intro-container">
      <h1>Welcome to this.<span id="code">Code( )</span></h1>
      <p>
        a site designed to challenge and enhance your JavaScript coding skills
      </p>
      <button class="btn btn-success" ng-click="checkLoggedIn()">Begin Your First Challenge</button>
    </div>
  </div>
  <!-- <div class="row about-section-row">
    <div class="col-xs-12 col-md-4 about-sections" id="section-1">
      <h1>What Can Coding Do For You?</h1>
    </div>
    <div class="col-xs-12 col-md-4 about-sections" id="section-2">
      <h1>Section 2</h1>
    </div>
    <div class="col-xs-12 col-md-4 about-sections" id="section-3">
      <h1>Section 3</h1>
    </div>
  </div> -->
