*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ui-view {
  margin-top: 50px;
}

/*navbar*/
#brand {
  font-size: 32px;
  font-family: 'Droid Serif', serif;
  margin-left: 2.5em;
}

#code {
  color: #FFA639;
}
/*login forms*/

.profile-row {
}

.profile-login-forms {
  margin-top: 2em;
  max-width: 475px;
}

.panel-heading {
  font-family: 'Droid Serif', serif;
  font-size: 32px;
  text-align: center;
  background-color: #FFA639!important;
  color:#797979!important;
}

.form-control {
  margin: 1em 0;
}

#profile-login-btn {
  font-family: 'Droid Serif', serif;
  background-color: #FFA639!important;
  width: 100%;
}



/*challenge splash*/
.challenge-menu-btn {
  margin: 3em;
  background-color: #CEE7B8;
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  font-size: 50px;
}

.challenge-list-container {
  margin: 3em;
  text-align: center;
  }

/*challenge individual*/
.challenge-containers {
  margin: 2em;
  height: 100px;
  border: 2px solid #3EBBF7;
  border-radius: 2em;
}
