*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Droid Serif', serif;
}

.ui-view {
  margin-top: 50px;
}

/*navbar*/
#brand {
  font-size: 32px;
  font-family: 'Droid Serif', serif;
  margin-left: 2.5em;
}

#code {
  color: #4CAF50;
}

/*splash*/
.jumbotron {
  display: flex;
  justify-content: center;
  background-image: url("../assets/images/oXAZlPv.png");
  background-size: cover;
  height: 50vh;
  text-align: center;
}

.intro-container {
  margin: auto 0;
}

/*login page*/
.login-page {
  height: 100vh;

}

/*login forms*/

.profile-login-forms {
  margin-top: 2em;
  max-width: 475px;
}

.panel-heading {
  font-size: 32px;
  text-align: center;
  background-color: #4CAF50!important;

}

.form-control {
  margin: 1em 0;
}

#profile-login-btn {
  font-family: 'Droid Serif', serif;
  background-color: #4CAF50!important;
  width: 100%;
  color: #3C763D!important;
}

.profile-login-error {
  margin: 2em 0 0 2em;
  color: #41A472;
  font-weight: bold;
}



/*challenge splash*/
.challenge-intro-container {
  max-width: 700px;
}
.challenge-menu-btn {
  background-color: #4CAF50;
  font-weight: bold;
  font-size: 32px!important;
  width: 100%;
  margin-top: 1em;
}

.challenge-list {
  margin-top: 1em;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  background-color: #F4F4F4;
  }

  #beginner-btn {
    background-image: url("../assets/images/green background.jpg");
    background-size: cover;
  }

  #intermediate-btn {
    background-image: url("../assets/images/yellow background.jpg");
    background-size: cover;
  }

  #master-btn {
    background-image: url("../assets/images/red background.jpg");
    background-size: cover;
  }

  #beginner-challenges {
    margin: 10px auto;
    padding: 20px;
    background-image: url("../assets/images/green background.jpg");
    background-size: cover;
  }

  #intermediate-challenges {
    margin: 2em auto;
    padding: 20px;
    background-image: url("../assets/images/yellow background.jpg");
    background-size: cover;
  }

  #master-challenges {
    margin: 10px auto;
    padding: 20px;
    background-image: url("../assets/images/red background.jpg");
    background-size: cover;
  }

/*challenge individual*/
.challenge-containers {
  margin: 2em;
  height: 100px;
  border: 1px solid #797979;
}
.challenge-buttons {
  display: flex;
  justify-content:space-around;
}


#test-result {
  margin: 2px;
}
